<footer class="footer-home">
    <div class="copyright">Code Warriors © 2019</div>

<!-- ¡¡¡¡¡¡¡¡¡¡creo una clase para el nav, no puedo mover el ul en el display: grid -->
    <nav class="menu-footer">
        <ul class="footer-options">
            <li>
                <a class="footer-options-link" href="#id-team">Team</a>
            </li>
            <li>
                <a class="footer-options-link" href="#id-about-us">About us</a>
            </li>
            <li>
                <a class="footer-options-link" href="./contact.html">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="box-logo-adalab">
        <a href="https://adalab.es/" target="_blank">
        </a>
    </div>
</footer>