<div class="light-grey-blue">
    <div class="content section-desciption">
        <span class="arrow-white"></span>
        <div class="modules pad-bot-30">
            <h3 class="section-desciption__title">Strenghts</h3>
            <p>We know that communication and collaboration are the basis for a well-functioning team. In
                Code-Warriors we care about generating a good working environment, in each project we commit
                ourselves and the rest of the team to bring it forward by providing our best individual
                capabilities. We are positive and persevering, nothing can stop us!
            </p>
        </div>
        <div class="modules">
            <h3 class="section-desciption__title">Weaknesses</h3>
            <p>Front-end development is something new for us, which is why we strive every day to improve
                our technical knowledge. Beyond programming, each of us is trained in different disciplines
                that enrich the group and help us overcome technical difficulties. Working under pressure is
                also a challenge, which is why we try to ensure that all decisions are agreed by the team.
                Going in the same direction is the best way to reach the goal!</p>
        </div>
    </div>
</div>