<div class="anchor" id="id-team">

    <h2 class="second-title">team</h2>
    <p class="paragraph">We are five awesome women from different working environments, with different
        lifestyles and different backgrounds, but with one thing in common, we want to become front-end
        developers! </p><br>
    <p class="paragraph">We dear to change our lives and become Code Warriors. Adalab has given us the
        opportunity to begin this journey. Where it will take us?... only the future will tell. How about
        you help us write a chapter of our story?</p>

</div>