<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <title>**code warriors!**</title>
</head>

<body>

    <!-- HEADER -->
    <partial src="_header.html" label="header"></partial>

    <main>

        <!-- HERO -->
        <div class="container-hero">
            <div class="container-image"></div>
            <div class="container-moto">
                <p class="moto">Motivation the extra mile</p>
            </div>
        </div>

        <section>
            <!-- TEAM -->
            <partial src="_team.html"></partial>

            <!-- STRENGTHS AND WEAKNESSES -->
            <partial src="_strengweak.html"></partial>
        </section>

        <!-- ADALABER SECTION -->
        <partial src="_aboutus.html"></partial>
    </main>

    <!-- FOOTER SECTION -->

    <partial src="_footer.html" label="header"></partial>

</body>

</html>