/* HERO */

.container-hero {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-image {
    height: 421px;
    width: 100vw;
    background: url(../images/hero-image-desktop.jpg);
    background-size: cover;
    overflow: hidden;
}

.container-moto {
    /* container size properties */
    height: 80px;
    /*movil */
    width: 290px;
    /* container position */
    display: flex;
    z-index: 5;
    position: absolute;
    top: 381px;
    float: right;
    /* text properties */
    background-color:$snowwhite;
    text-align: center;
    font-size: 24px;
    font-family: 'OpenSans', sans-serif;
    color:$fullblack;
    justify-content: center;
    align-items: center;
}
