/* STYLES DESKTOP VERSION ------------------------------------------*/

/* ADALABER SECTION */

@media all and (min-width: 1200px) {
    // .rectangle-all-info {
    //     display: flex;
    //     flex-direction: row;
    //     padding: 15px;
    // }
    .perinfo-container, .rectangle-all-info:nth-child(odd) .perinfo-container{
        grid-column: 2/4;
    }

    .r-left {
        flex-direction: row;
        text-align: left;
        // margin-left: 138px;
    }
    .r-right {
        flex-direction: row-reverse;
        text-align: right;
        // margin-right: 130px;
    }
    .personal-pic {
        align-content: center;
        width: 278px;
        height: 278px;
        border-radius: 5.5px;
        border: solid 7px rgba(0, 0, 0, 0.08);
    }
    .name {
        font-size: 20px;
        color:$fullblack;
        font-weight: normal;
        margin-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .p-right {
        // width: 440px;
        text-align: right;
    }
    .p-left {
        // width: 440px;
        text-align: left;
    }
    .rrss-container {
        list-style: none;
        margin-right: 15px;
        margin-left: 15px;
    }
    /* Strengths & Weaknesses */
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }
    .section-desciption {
        padding: 55px 0 55px
    }


 /* HEADER DEKTOP*/

    .header-home{
        position:fixed;
        width: 100vw;
        display: flex;
        color: $snowwhite;
        flex-direction: row;
        font-family: Rubik-Medium;
        z-index: 100;
        opacity: 0.9;
        height:60px;
        background-color:$greenadalab;
        align-items: baseline;
        justify-content: space-between;

    }
    .group-name{
        display: flex;
        text-transform: uppercase;
        font-weight: bold;
        height: 30px;
        margin: 15px 0 15px 142px;
        font-family: Rubik;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color:$snowwhite;
    }
    .menu-options{
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 30px;
        margin: 15px 138px 15px 0;
        list-style: none;
        padding: 0;
        background-color:$greenadalab;
    }
    .menu-options-link {
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        text-decoration: none;
        color:$snowwhite;
    }
    .menu-options-link:hover{
        font-size: 125%;
    }


    /*FOOTER DESKTOP*/
    .footer-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .menu-footer {
        margin-right: 100px;
        // DISPOSITION GRID
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .copyright{
        margin-left: 100px;
        //DISPOSICION GRID
        grid-column: 1/2;
        grid-row:1/2;
        //CENTRANDO CON GRID
        justify-content: left;
        text-align: left;
    }
    .box-logo-adalab {
        margin-left: 120px;
        //DISPOSICION GRID
        grid-column: 1/2;
        grid-row:2/3;
    }
    /* HERO DESKTOP */
    .container-moto{
        /* container size properties */
        height: 90px; /*tablet */ 
        width: 574px;
        /* container position */
        position: absolute; 
        top: 331px;
        left: 138px;
        
        /* text properties */
        background-color: $snowwhite;
        opacity: 0.9;
        justify-content: center;
        font-size: 24px;
    }

    /* TEAM DESKTOP */
    .paragraph {
        text-align: center;
        color:$greyparagraph;
        margin: 0 299px 30px 299px;
    }
     /*CONTACT*/
  
     .contact-section {
        padding: 45px 300px;
        margin:0;
        width:100vw;
    }
    /* FORM */

    .form{
        width:100%;
        display: flex;
        flex-direction: column;  
    }
    .mailPhone {
        display: flex;
        flex-direction: row;
        width:100%;
    }
    
    .email{
        width:70%;
        margin-right:22px;
    }

    .phone{
        margin-left:22px;
        width:30%;
    } 
}