
/* STYLES TABLET VERSION ---------------------------------------------------------------------*/

/* ADALABERS SECTION */

@media all and (min-width: 768px) {
    .rectangle-all-info {
        display: flex;
        flex-direction: row;
        padding: 15px;
    }
    /* he añadido clases nuevas para poder trabajar la direccion y alineado izq derch  */
    .r-left {
        flex-direction: row;
        text-align: left;
    }
    .r-right {
        flex-direction: row-reverse;
        text-align: right;
    }
    .personal-pic {
        align-content: center;
        width: 205px;
        height: 205px;
        border-radius: 4px;
        border: solid 5px rgba(0, 0, 0, 0.08);
    }
    .name {
        font-size: 20px;
        color:$fullblack;
        font-weight: normal;
        margin-bottom: 10px;
        margin-right: 15px;
        margin-left: 15px;
    }
    /* clase izq y drch para controlar los parrafos alternos*/
    .p-right {
        text-align: right;
    }
    .p-left {
        text-align: left;
    }
    .rrss-container {
        list-style: none;
        margin-right: 15px;
        margin-left: 15px;
    }
    /* Strengths & Weaknesses */
    .section-desciption {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 55px 35px 55px
    }
    .arrow-white {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .modules:first-of-type {
        margin-right: 45px;
    }
    /*Team*/
  
    .paragraph {
        text-align: center;
        color:$greyparagraph;
        margin: 0 168px 30px 168px;
    }


/* Footer RESPONSIVE  */

    .footer-home{
        Position:relative;
        background-color: $snowwhite;
        height: 170px;
        border-top: 1px solid $greycopyright;
        margin-top: 40px; 
        
    }
    .footer-options{
        
        display: inline-block;
        margin: 0;
        height: 90px;
        width: 324px;
        text-align: right;
        position:absolute;
        right: 45px;
        top:24px;

    }  
    .footer-options-link{
        display: inline-block;
        font-family: Rubik;
        font-style: normal;
        font-stretch: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        color:$greyparagraph;
        opacity: 0.75;
        }

    .copyright{
        display: inline-block; 
        color: $greycopyright;
        font-size:14px;
        font-family: Rubik; 
        margin: 0; 
        position: absolute;
        left: 45px;
        top:24px;
        }
    .box-logo-adalab{
        display: inline-block;
        margin-bottom:45px;
        margin-left:45px;
        height:45px;
        width: 115.9px;
        background: url(../images/logo-adalab.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        position: absolute;
        left: 45px;
        bottom: 60px;
        }
    

    /* HEADER */

    .header-home{
        position:fixed;
        width: 100vw;
        display: flex;
        color: $snowwhite;
        flex-direction: row;
        font-family: Rubik-Medium;
        z-index: 100;
        opacity: 0.9;
        height:60px;
        background-color:$greenadalab;
       
        align-items: baseline;
        justify-content: space-between;

    }
    .group-name{
        display: flex;
        text-transform: uppercase;
        font-weight: bold;
        height: 30px;
        margin: 14px 0 16px 45px;
        font-family: Rubik;
        font-size: 16px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: $snowwhite;
    }
    .menu-options{
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 30px;
        margin: 14px 45px 16px 0;
        list-style: none;
        padding: 0;
        background-color:$greenadalab;
    }
    .menu-options-link {
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        text-decoration: none;
        color:$snowwhite;
    }
    .menu-options-link:hover{
        font-size: 125%;
    }
    /* HERO TABLET */
    .container-moto{
        /* container size properties */
        height: 80px;
        width: 441px;
        /* container position */
        position: absolute; 
        top: 341px;
        left: 46px;
        
        /* text properties */
        background-color: $snowwhite;
        opacity: 0.9;
        justify-content: center;
        
    }
}


